/* This file is for your main application css. */

@import "./phoenix.css";
.selected-hotel-container {
  display: flex;
  justify-content: space-around;
}

.selected-hotel-info-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.save-update-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

#title {
  text-align: center;
}

#back {
  margin-left: 20px;
}